@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	/* background: #fff; */
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
html {
	scroll-behavior: smooth;
}
.ant-menu-no-border::after {
	display: none !important;
}
span::after {
	display: none !important;
}
.card:hover .shape {
	opacity: 1;
}

.ant-card-body {
	padding: 0 !important;
}
.image:hover .heart-box {
	opacity: 1;
}
.gray-img:hover {
	filter: grayscale(0);
}
.ant-space-item a {
	color: #5e6282;
}
.shadoww {
	box-shadow: 35px 15px 70px #d9edf9;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-list .ant-list-item {
	display: flex;
	justify-content: flex-start;
}
